:root{
    --color1: rgb(235, 231, 222);
}
html{
    background-image: url("https://raw.githubusercontent.com/2020-Summer-Cohort/blog-java-optimistic-wanderer/master/src/main/resources/Static/images/ohio%20forest.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 2em;
color: var(--color1);
}

a {
    text-decoration: none;
    color: var(--color1);
}

.home-nav{
    background-color:rgba(134, 120, 120, 0.466);
    color:Var(--color1);
}